* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6c63ff;
  --dark: #0f0f1a;
  --light: #1a1a2e;
  --blue: #00e5ff;
  --bg-light: #0b0b14;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace, sans-serif;
  background: var(--bg-light);
  color: #eaeaf0;
  line-height: 1.6;
}

header {
  display: flex;
  backdrop-filter: blur(20px);
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #1a1a2ea9;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-weight: 700;
  font-size: 1.4rem;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;
  transition: 0.3s;
  font-size: 3vh;
}

nav a:hover {
  color: var(--primary);
}

.hero {
  text-align: center;
  padding: 120px 30px;
  background: radial-gradient(circle at top, #1b1b3a, #0f0f1a);
}

.heading {
  font-size: 2.8rem;
  animation: slideUp 1s ease-out;
}

.about {
  margin: 15px 0;
  font-size: 1.1rem;
  color: var(--blue);
}

.call {
  padding: 12px 25px;
  background: var(--primary);
  border: none;
  border-radius: 6px;
  color: var(--light);
  font-size: 1rem;
  font-weight:bolder ;
  cursor: pointer;
  transition: 0.3s;
  animation: fadeIn 1.5s;
}

.call:hover {
  transform: scale(1.05);
  background-color: #00e5ff;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 80px 40px;
  flex-wrap: wrap;
}

.feature-card {
  background: var(--light);
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.194);
}

.feature-card:hover {
  transform: scale(1.05);
}

.pricing {
  padding: 80px 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.price-card {
  background: var(--light);
  padding: 30px;
  width: 280px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 2px 2px 10px rgba(251, 118, 220, 0.194);
}

.price-card:hover {
  transform: scale(1.07);
}

.price {
  font-size: 1.7rem;
  color: var(--primary);
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background: var(--dark);
  color: var(--blue);
  margin-top: 50px;
}
