* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4f46e5;
  --background: #fffadb;
  --texthead: #002060;
  --text: #c00000;
}

body {
  font-family: Kaushan Script, monospace;
  background-color: var(--background);
  line-height: 1.6;
}

.home .name {
  position: relative;
  top: 17rem;
  padding: 1.5rem;
}
.home .about {
  position: relative;
  top: 6rem;
  right: 8rem;
  font-size: 3rem;
  text-decoration: underline;
  color: var(--texthead);
}
.home section {
  margin-bottom: 5rem;
  margin-left: 1.5rem;
}

.home header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home iframe {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.home nav {
  background-color: var(--texthead);
  position: relative;
  bottom: 6rem;
  right: 0.7rem;
  border-radius: 50px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.home nav a {
  position: relative;
  left: 35%;
  margin: 2rem;
  font-size: 3rem;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: color 0.5s ease;
}

.home nav a:hover {
  color: white;
  text-decoration: underline;
}
.home h1 {
  font-size: 2.2rem;
}

.home h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.home h3 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.home p {
  position: relative;
  top: 10rem;
  font-size: 1.5rem;
  right: 30rem;
  color: #c00000;
}
.home img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  object-fit: cover;
  margin-top: -4rem;
}

.home ul {
  list-style: none;
}

.home ul li {
  background: #de5858;
  padding: 0.8rem 1rem;
  margin-bottom: 0.6rem;
  border-radius: 8px;
  color: var(--texthead);
}

.home article {
  background: var(--background);
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 1px 2px 22px rgba(0, 0, 0, 0.233);
  margin-bottom: 1.5rem;
}

.about header {
  color: var(--texthead);
  font-size: 1.5rem;
  text-decoration: underline;
  margin-left: 1.5rem;
}

.about section {
  margin-left: 4.5rem;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
.about h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  color: var(--text);
}
.about p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.about h4 {
  font-size: 2em;
}
.about dt {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--texthead);
}
.about dd {
  margin-left: 3rem;
}

.btn {
  margin-top: 2rem;
  margin-left: 1.5rem;
  display: inline-block;
  background-color: var(--primary);
  color: #ffffff;
  padding: 0.6rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.btn:hover {
  background-color: #4338ca;
}
